body{
  background-color:rgb(192, 224, 224);
}

#navbar{
    position: fixed;
    font-family:Calibri;
    font-size:large;
    background-color:rgb(137, 228, 228);
}

.main-section{
    margin-left:200px;
    font-family:calibri;
    font-size:medium;
}

header{
  font-size:40px;
  font-weight:bold;
}

@media only screen and (max-width: 800px) 
{
  /* For mobile phones: */
  #navbar {
    position: absolute;
    height: 1300px;
    min-width: 120px;
    width: 120px;
    font-size: 3vw;
    
    top: 0px;
    margin-top: 35px; 
    left: 0px;
  
    color: black;
    background-color: white;
    padding: 0px 0px;
    z-index: 1;
  }
}

